// variables

// espacios generales
$med-chica: 2.5rem;
$med-media: 5rem;
$med-grande: 10rem;

// medidas generales

// colores
$color-negro:#0f0909;
$color-turquesa:#104549;
$color-turquesa2:#27cdf7;
$color-blanco:rgb(222, 246, 248);

// fuentes
$fuente-1: 'Sedgwick Ave';
$fuente-2: 'Anton', sans-serif;
$fuente-3: 'Montserrat', sans-serif; 






